<div class="row">
  <div class="col-md">
    {{
      ember-ace
      value=score.script
      update=(action (mut score.script))
      lines=32
      showPrintMargin=false
    }}
  </div>

  <div class="col-md">
    <button type="submit" class="btn btn-primary btn-sm" onclick={{action 'engrave'}}>Create score (Ctrl-S)</button><span id="progressText">{{progressText}}</span>
    <p id="errorText">{{errorText}}</p>
    <img src="{{score.imageUrl}}" style="max-width: 100%">
  </div>
</div>
